.Maincontainer a {
	font-size: small;
	color: black;
	float: right;
	word-spacing: 10px;
}

.main_common {
	display: inline;
	width: 100px;
	float: right;
}

A:link {
	text-decoration: none;
	/* color: black */
}

a:hover {
	color: green;
	text-decoration: none;
}

A:visited {
	text-decoration: none;
}

a:active {
	color: orange;
	text-decoration: none;
}
.impact{
	color: #3a3b45;
	font-weight: bold;
}
.baedalga {
	width : 70%;
/* 	height: 70%;		 */
	margin-bottom: 1rem;
	color: #858796;
	border-collapse: collapse;
	margin-left : 15%;
}
.baedalga td{
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}
.baedalga tr:first-child {
	color: white;
}
.baedalga tr:first-child:hover {
	color: white;
}
